<!DOCTYPE html>
<html>
  <head>
    <title>My App Engine App</title>
  </head>
  <body style="background-color: rgb(17, 17, 85)">
    <h2 style="text-align: center;"> Hello World: Deployed via Google Engine</h2>
    <!--  <form method="POST" action="/submit">
      <div>
        <input type="text" name="name" placeholder="Name" />
      </div>
      <div>
        <textarea name="message" placeholder="Message"></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form> -->
  </body>
</html>
