<!DOCTYPE html>
<html>
  <head>
    <title>My App Engine App</title>
  </head>
  <!-- <body style="background-color: rgb(40, 85, 17)"> -->
  <body style="background-color: rgb(17, 17, 85)">
    <h2 style="text-align: center; color: rgb(228, 228, 235); height: auto">
      Hello World, Deployed via Google Engine
    </h2>
    <!--   <h2
      style="
        text-align: center;
        color: rgb(228, 228, 235);
        height: auto;
        font-size: small;
      "
    >
      PS: Dont be late..
    </h2> -->
  </body>
</html>
